.header {

    padding: 20px 40px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sortby_select,
    .search_input {
        margin-top: 20px;
        .search_button {
            cursor: pointer;
        }
    }
}

.feed_page {


    .card_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}