@import '../../styles/typography.scss';

.card {
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 20%), 0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);
    background-color: #f3f3f3;

    img {
        object-fit: cover;
        width: -webkit-fill-available;
        border-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .body {
        padding: 16px;
    }

    .title {
        @extend .title_text;
        margin-bottom: 0.35em;
    }

    .description {
        @extend .subtitle_text;
        color: rgba(0, 0, 0, 0.54);

    }
}

@media only screen and (max-width: 600px) {
    .card {
        height: 100%;
        max-width: 70vw;

        img {
            max-width: 70vw;
        }
    }
}

@media only screen and (min-width: 600px) {
    .card {

        max-width: 40vw;

        img {
            max-width: 40vw;
        }
    }
}

@media only screen and (min-width: 768px) {
    .card {
        max-width: 30vw;

        img {
            max-width: 30vw;
        }
    }
}